.header {
  box-shadow: var(--shadows);
  z-index: 1;
  position: relative;

  &_upperblock {
    max-height: 54px;
    padding: 8px 60px;
    justify-content: space-between;
    background-color: var(--green-blue);
    display: flex;

    &_right {
      display: flex;
      gap: 8px;
      align-items: center;

      &_inputWrapper {
        position: relative;
        display: inline-block;

        &_input {
          height: 38px;
          width: 275px;
          padding-right: 38px;
          padding-left: 8px;
          border: none;
          border-radius: 100px;
          box-shadow: var(--shadows);
        }

        &_inputButton {
          height: 39px;
          border-radius: 0 100px 100px 0;
          border: none;
          position: absolute;
          right: 0;
          top: 1px;
          background-color: transparent;
        }
      }

      &_person {
        width: 13.6px;
        height: 19px;
        padding: 5.25px 7.95px;
      }

      &_lv {
        font-size: 16px;
        line-height: 18.75px;
        font-weight: 600;
        color: var(--white);
        padding: 8px;
      }
    }
  }

  &_lowerblock {
    max-height: 56px;
    padding: 8px 60px;
    justify-content: space-between;
    background-color: var(--white);
    display: flex;
    align-items: center;

    &_left {
      display: flex;
      gap: 12.85px;
      align-items: center;
    }

    &_right {
      display: flex;
      gap: 10px;
    }
  }
}
