.heroblock {
  max-height: 485px;
  padding: 60px;
  display: flex;
  gap: 43px;
  justify-content: center;

  &_left {
    max-width: 667px;
    max-height: 332px;
    padding-top: 15px;

    &_texts {
      color: #212427;

      &_title {
        font-weight: 600;
        font-size: 48px;
        line-height: 57.6px;
        letter-spacing: 0.4px;
        padding-bottom: 16px;
      }
      &_subtitle {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.4px;
        padding-bottom: 40px;

        &_span {
          font-weight: 600;
          font-size: 20px;
          line-height: 23.44px;
          letter-spacing: 0.4px;
        }
      }
    }

    // &_button {
    //   text-transform: "none";
    //   margin-right: 24px; // works
    //   width: 246px; // works
    //   height: 42px; // works
    //   padding: 8px 24px; // works
    //   background-color: #347dca;
    //   color: white;
    //   border-radius: 40px;
    //   font-weight: 500;
    //   font-size: 16px;
    //   line-height: 26px;
    //   letter-spacing: 0.46px; // works?
    //   &:hover {
    //     background-color: #5c97d4;
    //   }
    // }
  }

  &_right {
    max-width: 667px;
    position: relative;
    display: inline-block;
  }
}
