.welcomeContainer {
  display: flex;
  justify-content: center;
  background-color: var(--bg-blue);

  &_welcomeBlock {
    &_mainBlock {
      width: 858px;
      padding: 48px 24px;
      text-align: center;
      background-color: var(--white);

      &_title {
        margin-top: 32px;
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 48px;
        line-height: 57.6px;
        letter-spacing: 0.4px;
      }

      &_subtitle {
        margin-bottom: 64px;
        font-weight: 400;
        font-size: 24px;
        line-height: 33.6px;
        letter-spacing: 0.4px;
      }

      &_stepsTitle {
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 24px;
        line-height: 33.6px;
        letter-spacing: 0.4px;

        &_span {
          color: var(--purple);
        }
      }
    }
  }
}
