:root {
  --white: #ffffff;
  --black-ish: #212427;
  --green-blue: #0088a1;
  --dark-gray: #797b7d;
  --blue: #347dca;
  --blue-light-1: #5c97d4;
  --blue-light-2: #adcbe9;
  --blue-light-3: #d6e5f4;
  --green-blue-light-1: #339fb3;
  --green-blue-light-2: #99cfd9;
  --bg-blue: #f7fafd;
  --link: #1877f2;
  --shadows: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

* {
  margin: 0;
}
