@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.header {
  font-family: "Roboto";

  &_upperblock {
    max-height: 66px;
    padding: 8px 60px;
    justify-content: space-between;
    background-color: #0088a1;
    display: flex;
    // gap: 461px;

    &_right {
      display: flex;
      gap: 8px;
      align-items: center;

      &_input {
        height: 38px;
        width: 321px;
        border-radius: 100px;
      }

      &_person {
        width: 13.6px;
        height: 19px;
      }

      &_lv {
        font-size: 16px;
        line-height: 18.75px;
        font-weight: 500;
        color: #ffffff;
        padding: 8px;
      }
    }
  }

  &_lowerblock {
    max-height: 66px;
    padding: 8px 60px;
    justify-content: space-between;
    background-color: #ffffff;
    display: flex;
    // gap: 230px;
    align-items: center;

    &_right {
      display: flex;
      gap: 10px;
    }
  }
}
