.heroblock {
  max-height: 485px;
  padding: 60px;
  display: flex;
  gap: 72.4px;
  justify-content: center;

  &_left {
    max-width: 667px;
    max-height: 332px;

    &_texts {
      color: #212427;

      &_title {
        font-weight: 600;
        font-size: 48px;
        line-height: 57.6px;
        letter-spacing: 0.4px;
        padding-bottom: 16px;
      }
      &_subtitle {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.4px;
        padding-bottom: 40px;

        &_span {
          font-weight: 600;
          font-size: 20px;
          line-height: 23.44px;
          letter-spacing: 0.4px;
        }
      }
    }
  }

  &_right {
    max-width: 667px;
    position: relative;
    display: inline-block;
    // padding: 0 53.3 14 29.4;

    &_halfcircle1 {
      position: absolute;
      top: 226.69px;
      right: 256.03px;
    }

    &_halfcircle2 {
      position: absolute;
      top: 73.27px;
      right: 320.29px;
    }

    &_halfcircle3 {
      position: absolute;
      top: 101.06px;
      right: 330.54px;
    }

    &_halfcircle4 {
      position: absolute;
      top: 94.63px;
      left: 291.83px;
    }

    &_halfcircle5 {
      position: absolute;
      top: 83.38px;
      left: 162.62px;
    }
  }
}
