@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.footer {
  background-color: #0088a1;
  max-height: 295px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: "Roboto";
  color: #ffffff;

  &_title {
    font-weight: 500;
  }

  &_link {
    text-decoration: none;
    color: #ffffff;
  }

  &_upperblock {
    display: flex;
    padding-bottom: 24px;
    gap: 175px;
    padding-right: 60px;
    padding-left: 60px;
    line-height: 24px;
    justify-content: center;

    &_left {
      width: 330px;

      &_email {
        display: flex;
        margin-top: 12px;
        margin-bottom: 16px;
        gap: 8px;
        align-items: center;
      }

      &_phone {
        display: flex;
        gap: 8px;
        align-items: center;
      }

      &_socials {
        display: flex;
        align-items: center;
        margin-top: 40px;
        gap: 24px;
      }
    }

    &_right {
      width: 776px;
      display: flex;
      gap: 32px;

      &_first3blocks {
        width: 120px;
      }

      &_lastblock {
        max-width: 260px;

        &_text {
          margin-bottom: 16px;
        }
        &_button {
          color: #ffffff;
          text-transform: none;
          font-size: 14px;
          letter-spacing: 0.46;
          padding: 4px 10px;
          line-height: 22px;
          border: 1px solid #ffffff;
          &:hover {
            border: 1px solid #ffffff;
          }
        }
      }
    }
  }

  &_lowerblock {
    display: flex;
    padding: 8px 60px 0px 60px;
    gap: 256px;
    line-height: 21px;
    font-size: 14px;
    border-top: 1px solid;
    justify-content: center;

    &_left {
      width: 643px;
    }

    &_right {
      display: flex;
      gap: 40px;
      width: 257px;
    }
  }
}
