.registration {
  &_body {
    max-height: 685px;
    padding: 64px 120px;
    background-color: #f7fafd;
    color: #212427;

    &_content {
      max-height: 573px;
      text-align: center;
      margin: auto;

      &_title {
        font-size: 24px;
        font-weight: 600;
        line-height: 33.6px;
        margin-top: 24px;
      }

      &_cards {
        width: 760px;
        max-height: 369px;
        display: flex;
        justify-content: center;
        gap: 76px;
        margin: 40px auto;

        &_card {
          width: 342px;
          max-height: 369px;
          padding: 32px;
          border-style: outset;
          border-radius: 6px;
          background-color: #ffffff;

          &_title {
            margin-top: 24px;
            margin-bottom: 16px;
            font-weight: 600;
            font-size: 20px;
            line-height: 23.44px;
            letter-spacing: 0.4px;
          }

          &_text {
            margin-bottom: 24px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
          }
        }
      }

      &_login {
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.11px;

        &_link {
          color: #1877f2;
          margin-left: 4px;
        }
      }
    }
  }
}
